* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: white;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
}

header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 350px;
}

.banner img {
  width: 100%;
  height: 500px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-right: 300px;
}

.nav-header a {
  background-color: rgb(255, 255, 255);
  color: #333;
  margin: 0 5px;
  border: 2px solid black;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.5s, color 0.5s;
  border-radius: 10px;
}

.titulo2 {
  text-align: center;
  color: rgb(5, 5, 5);
  border-top: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
  padding: 0.5em;
  font-style: italic;
  font-size: x-large;
}

.nuevos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.novedades img {
  width: 40%;
  border-radius: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgb(5, 5, 5);
  aspect-ratio: 1/1;

  margin-right: 15px;
}

.novedades {
  padding: 1em;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(5, 5, 5, 0.649);
  margin: 0px 10px 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header div {
  background-color: black;
  width: 100%;
}

hr {
  color: rgb(132, 19, 19);
}
.carousel {
  position: relative;
  width: 80%;
  max-width: 120em;
  max-height: 53em;
  margin: 7em auto 1em auto;
}

.carousel-container {
  display: inline-block;
  min-width: 300%;
  box-sizing: border-box;
}

.carousel-items {
  width: calc(300% / 3);
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
}

.items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1em; */
}

.carousel-container a img {
  width: 100%;
  aspect-ratio: 1/1;
}

.controls {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.prev {
  height: 100%;
  position: absolute;
  background: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.507);
  font-size: 2em;
  cursor: pointer;
  left: 0em;
}
.next {
  height: 100%;
  position: absolute;
  border: none;
  color: rgba(0, 0, 0, 0.507);
  font-size: 2em;
  cursor: pointer;
  right: 0em;
}

/* Pie de página */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: rgb(52, 43, 43);
  color: white;
  margin-top: auto;
  height: 15px;
  margin-bottom: 0;
}/* Pie de página */
